@using Microsoft.AspNetCore.Http;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    Welcome @Context.Session.GetString("username")<br>
    <a asp-controller="home" asp-action="index">Return to home page</a><br>
    <a asp-controller="home" asp-action="logout">Logout</a>

</body>
</html>